body {
    margin: 0 auto;
    font-family: "Karla", sans-serif;
    background-color: #D5D4D8;
}

.container {
    margin: 30px auto; 
    width: 35%;
    padding: 80px 60px 80px 60px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: #1F2937;
}

#title, #complement-title {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #D5D4D8;
}

#complement-title {
    color: #4ADF86;
}

#subtitle{
    margin-top: 5px;
    color: #D5D4D8;
    font-size: 22px;
}

.number-input {
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4ADF86;
    overflow: hidden; 
    text-overflow: ellipsis;
    cursor: pointer;
}

#title-toggle {
    margin-top: 40px;
    width: 100%;
    color: #D5D4D8;
    font-size: 14px;
}

/* copied this code on the w3schools site: https://www.w3schools.com/howto/howto_css_switch.asp */
/* starts here */
.switch {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: #4ADF86; 
}

input:checked + .slider:before {
    transform: translateX(25px); 
}
/* ends here */
/* copied this code on the w3schools site: https://www.w3schools.com/howto/howto_css_switch.asp */

#button-style {
    margin-top: 40px;
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.section-passwords {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid #2F3E53;
}  

.first-random-password, .second-random-password {
    width: 130px;    
    height: 20px;  
    padding: 2% 10%;
    border-radius: 5px;
    background-color: #2F3E53;
    color: #4ADF86;

}
